.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.col {
	width: calc(100% - 400px);
	padding: 15px;
}

.row > .col:first-child {
	border-right: 1px solid #ccc;
	max-width: 400px;
}

.result-list-container {
	max-width: 800px;
}

.row > .col:last-child {
	background: #fafafa;
}

.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.authors-list {
	color: #9d9d9d;
	font-weight: bold;
}

.ratings-list {
	padding: 10px 0;
}

.avg-rating {
	color: #6b6b6b;
	margin-left: 5px;
}

.align-center {
	align-items: center;
}

.justify-space-between {
	justify-content: space-between;
}

.stars {
	color: gold;
}

.location {
	color: salmon;
	margin-right: 5px;
}

.meetup-location {
	margin: 4px 0;
}

.book-title {
	white-space: normal;
	margin-top: 4px;
}

.meetup-title {
	white-space: normal;
}

.meetup-topics {
	height: 35px;
	overflow: hidden;
}

.meetup-topic {
	background-color: #dedede;
    color: #555;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 4px;
}

.meetup-topic:first-child {
	margin-left: 0;
}

.col .meetup-list-image {
	background-size: cover;
}
